
.body{
  font-family: Source Sans Pro,Helvetica Neue,Arial,sans-serif
}
.theme-default-content:not(.custom){
  margin:0 1rem;
}



#app .sidebar > .sidebar-links > li > a.sidebar-link{
  font-size: 0.93rem ;
}
.theme-default-content code{
  background-color: #fff5f5;
  color:#ff502c;
}


.home .hero img{
  max-height:130px !important;
}
@media screen and (max-width: 719px){
  .home .hero img {
  max-height: 100px !important;
}
}
.nav-links .nav-item > a{
  line-height:45px;
}


.theme-default-content:not(.custom){
  max-width: 800px;
}
.page-nav{
  margin-left:0 !important;
}

#app .home .hero #main-title{
  font-size:2.4rem;
}
#app .home .hero .description{
  font-size: 1.2rem;
}
